@model Blogs.Domain.Entities.Users
@{
    ViewBag.Title = null;

}

    <ul class="nav">
        @foreach (var i in Model.Links)
        {
            <li><a href="@Url.Action(i.Url, i.NameController)" class="navbar-link">@i.Name</a></li>
        }
    </ul>

