@model Blogs.WebUI.Models.CommentCreateViewModel

@{
    Layout = null;
    
}
<h5 class="muted"><b>Please enter comment</b></h5>

    @using (Ajax.BeginForm( "CreateComment", "Comments", new { idPost = ViewBag.ReturnUrl }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "comment", InsertionMode = InsertionMode.InsertBefore })) {
    <div class="control-group">
        <div class="controls">
            @Html.TextAreaFor(m => m.Content, new { @class = "input-large" })
            <div class="text-error">
                <b>@Html.ValidationMessageFor(m => m.Content)</b>
            </div>
        </div>
    </div>

    <p>
        <input type="submit" class="btn btn-primary" value="Ок" />
    </p>
}
